<!DOCTYPE html>
<html>
  <head>
    <title>Mnt01App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-logo">
        <p>ミッドナイトタウン</p>
      </div>
      <ul class="header-menu">
        <% if @current_user %>
          <li><%= link_to("ログアウト", "/logout", {method: :post}) %></li>
          <% if @current_user.level >= 2  %>
          <li><%= link_to("マイルーム", "/myroom/room", data: {"turbolinks" => false}) %></li>
          <li><%= link_to("町へ", "/town_a/street", data: {"turbolinks" => false}) %></li>
          <% end %>
        <% else %>
          <li id="header-login-show">ログイン</li>
        <% end %>
      </ul>
    </header>
    <footer>
      <div class="flash">
        <p id="flash-message"><%= flash[:message] %></p>
      </div>

    </footer>

    <%= yield %>
  </body>
</html>
